@font-face {
    font-family: 'Keyboard'; 
    src: url('../assets/fonts/keyboard.woff2') format('woff2'),
         url('../assets/fonts/keyboard.woff') format('woff'),
         url('../assets/fonts/keyboard.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

#keys{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#keys .keylabel{
    text-align: center;
    margin: 0em 0.5em;
}
#keys .key{
    font-family: 'Keyboard';
    font-size: 3em;
    vertical-align: middle;
}